@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf")format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Italic.ttf")format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.ttf")format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Overpass";
  src: url("./assets/fonts/Overpass-Regular.ttf")format('truetype');
}
@font-face {
  font-family: "Overpass";
  src: url("./assets/fonts/Overpass-Bold.ttf")format('truetype');
  font-weight: bold;
}
